<div class="inner">
    <header class="major special">
        <h2>{{ section.title }}</h2>
        <p>{{ section.subtitle | newline_to_br }}</p>
    </header>
    <div class="spotlights">
        {% for entries in section.home_spotlights %}
        <section>
            {% if entries.img_path %}
            <div class="image"><img src="{{ entries.img_path | relative_url }}" alt="" /></div>
            {% endif %}
            <div class="content">
                <header class="major">
                    <h3>{{ entries.title }}</h3>
                </header>
                <p>{{ entries.text }}</p>
            </div>
        </section>
        {% endfor %}
    </div>
</div>
